body{
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 120, 120);
}
h1{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 10px;
}
#main{
    width: 80vw;
    height:85vh;
    background-color: rgb(69, 68, 68);
    margin: 10vh auto;
    border-radius: 10px;
    border: 1px solid black ;
    box-shadow: 20px 20px 10px black;
    padding: 10px 10px 10px 10px;
}
#calc{
}
#box{
    height: 6vh;
    justify-content: center;
    display: flex;
}
#input{position: relative;
    left:10%;
    top:30px;
    background-color: rgb(60, 59, 58);
    width: 80%;
    height: 60%;
    font-size: 2rem;
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.105);
    outline: none;
}
#input button{
   
    border-radius: 5px;
    border: none;
    box-shadow: 1px 2px 5px rgba(255, 253, 253, 0.105);
    cursor: pointer;
    padding: 5px;
    width:80px;
}
.btnp1{
    background-color:rgb(243, 145, 107);
    
}
.btnp2{
    background-color:rgb(143, 189, 246);
    
}
.btnp3{
    background-color: hotpink;
    
}
#box button{
    background-color: rgb(47, 246, 47);
    border-radius: 5px;
    border: none;box-shadow: 1px 2px 5px rgba(255, 253, 253, 0.105);

    cursor: pointer;
}
li{
    list-style: numeric;}